<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="asia.yesdoctor.flutter_kbzpay">
    <application>
        <activity
            android:name="com.kbzbank.payment.sdk.callback.CallbackResultActivity"
            android:exported="true" />
    </application>
</manifest>
